@import 'node_modules/normalize-stylus/normalize.styl'
	
// variables
pad = 8px
bevel = 3px

html
	font-family: sans-serif

body
	height: 100vh
	width: 100%

body, .grid, form
	align-content: start
	display: grid
	grid-column-gap: pad
	grid-row-gap: pad
	grid-template-columns: repeat(6, 1fr)
	& > *
		grid-column: 1/-1
		
// grid
.grid
	&.center
		align-items: center
	&.bottom
		align-items: end
		
// debugging helpers
.debug
	box-shadow: inset 0 0 0 2px red

.branding
	align-items: center
	display: flex
	img
		margin-right: pad

header
	align-items: center
	display: flex
	justify-content: space-between
	padding: 0px
	
	nav
		align-items: center
		display: flex
		a
			align-items: center
			box-sizing: border-box
			display: flex
			height: inherit
			padding: pad
			
aside
	nav
		a
			display: block
			padding: pad
			
p
	line-height: 1.75em
		
// spans
for start in (1..6)
	.s{start}
		margin-top: 0
		grid-column: span start
		&-
			grid-column: start/-1
		
	for end in (1..6)
		.s{start}-{end}
			grid-column: start/end+1
		
// floating elements
.left
	float: left
	margin-bottom: pad
	margin-right: pad
.right
	float: right
	margin-bottom: pad
	margin-left: pad
	
// utilities
.pad
	padding: pad

.txt-center
	display: block
	text-align: center
.txt-right
	display: block
	text-align: right
	
.break
	grid-column-start: 1
	for i in (1..6)
		&.s{i}
			grid-column-end: i+1
			
// forms
form
	for i in (1..6)
		& > .s{i}
			align-items: center
			display: flex
			label
				margin-right: pad
	input
		flex-grow: 1
		width: 100%
			
form > label, form > input
	align-self: center
	grid-column: auto
form > label
	text-align: right
form > input
	grid-column: span 2
label
	display: inline-block
	
input, textarea
	box-sizing: border-box
input
	border: none
	border-radius: bevel
	box-shadow: inset 0 0 1px rgba(0,0,0,0.5)
	padding: pad
	 -webkit-appearance: none
	
// buttons
button, input[type="submit"]
	background-color: #FFF
	border: none
	border-radius: bevel
	box-shadow: inset 0 0 1px rgba(0,0,0,0.5)
	cursor: pointer
	justify-content: center
	padding: pad
	
// content
blockquote
	margin: pad*2
	p
		background-color: #F3F3F3
		border-radius: bevel
		letter-spacing: 0.03em
		padding: pad*2
		&:before
			content: '\201C'
		&:after
			content: '\201D'
		&:first-child
			margin-top: 0
			
// text
// font sizes
for i in (1..6)
	.txt{i}
		font-size: 0.25em*i*1.5

// font weights
.thin
	font-weight: 100
.light
	font-weight: 200
.bold
	font-weight: 600
.extra-bold
	font-weight: 800
	
// text markup tags
mark
	background-color: lighten(cyan, 45)

// media

// make span media widths 100%
// images
for i in (1..6)
	img.s{i}, img.s{i}-, video.s{i}, video.s{i}-,.iframe.s{i}, .iframe.{s}i-
		width: 100%
		
// iframes
.iframe
	padding-top: 56.25%
	position: relative
	iframe
		height: 100%
		position: absolute
		top: 0
		width: 100%
		
// handle small screens
@media screen and (max-width: 767px)
	for i in (1..6)
		.s{i}
			grid-column:1/-1
			
	// hide element on smaller devices
	.mobile-off
		display: none !important
		
	// ensure form elements fill the screen or enclosed area
	form
		label
			text-align: left
			width: auto
		input
			grid-column: 1/-1
	label, textarea, input
		width: 100%
		
// handler larger screens
@media screen and (min-width: 768px)
	.mobile-on
		display: none !important