// default body styles
body  
  & > *:not([class*='xs-']):not(.full-width):not([class*='-no-margin'])
    &:before
      content: "";
      display: inline-block;
      min-height: font-base
      vertical-align: middle;content: "";
      
    display: inline-block
    margin: 0
    width: 100%

  // debug setting. Gives divs an opaque background color.
  &.dev
    level-1 = tertiary-color
    level-2 = lighten(tertiary-color, 50%)
    level-3 = lighten(tertiary-color, 75%)
    level-4 = lighten(tertiary-color, 100%)
    background-color: level-1
    & > div:not([class*='bg-'])
      background-color: level-2
      & > div:not([class*='bg-'])
        background-color: level-3
        & > div:not([class*='bg-'])
          background-color: level-4
