// default body styles
body
  background-color: tertiary-color
  
  & > *:not([class*='xs-']):not(.full-width):not(.no-margin)
    &:before
      content: "";
      display: inline-block;
      min-height: font-base
      vertical-align: middle;content: "";
      
    display: inline-block
    margin: gutter gutter 0 gutter
    width: 'calc(%s - %s)' % (100% gutter*2)

  // debug setting. Gives divs an opaque background color.
  &.dev > div, &.dev > div > div {
    background-color: rgba(255,255,255,0.5);
  }
