.btn-link
  background-color: transparent
  border-width: 0px
  cursor: pointer
  &:focus, &:active
    outline-width: 0px
  
[class*='btn']:not(.btn-link)
  border: none
  cursor: pointer
  display: inline-block
  outline: none
  line-height: 2.25em
  &:not([class*='margin'])
    margin: 3px 5px 3px 0
  text-decoration: none
  white-space: nowrap
  
  & > *
    line-height: 2.25em
  
  // set a default border-radius and padding
  &:not([class*='font-size'])
    border-radius: 4px
    padding: 0 10px
    
  // add a border-radius and padding equal to the custom font-size set
  for i in (1..max-font-level)
    &.font-size-{i}
      border-radius: i*1px
      padding: 0 i*2px
  
  for color in colors
    &.btn-{color}
      color-name = color+'-color'
      color: dark(darken(color-name, 15%))? rgba(255,255,255,0.85) : rgba(0,0,0,0.85)
      background-color: color-name
      transition: background-color 0.3s ease, color 0.3s ease

      &:hover
        background-color: darken(color-name, 10%)
