.btn-link
  background-color: transparent
  border-width: 0px
  cursor: pointer
  &:focus, &:active
    outline-width: 0px
  
[class*='btn']:not(.btn-link)
  background-color: #DDD
  border-radius: 4px
  border: none
  cursor: pointer
  outline: none
  margin: 3px 5px 3px 0
  padding: 10px 12px

  &:hover
    background-color: darken(#DDD, 10%)
  
  for color in colors
    &.btn-{color}
      color-name = color+'-color'
      color: dark(darken(color-name, 15%))? rgba(255,255,255,0.85) : rgba(0,0,0,0.85)
      background-color: color-name
      
      &:hover
        background-color: darken(color-name, 10%)
