// main colors
colors = ( primary secondary tertiary alert warning success default )

// define colors
primary-color = #2196F3
secondary-color = #9C27B0
tertiary-color = #EEE
alert-color = #f44336
warning-color = #FFC107
success-color = #4CAF50
default-color = #FFF

// link colors
link-color = #000
link-hover = link-color
link-active = link-color
link-focus = link-color
