// color values represent hex characters 0 through f
color-values = ( 0 1 2 3 4 5 6 7 8 9 a b c d e f )

// main colors
colors = ( primary secondary tertiary alert warning success default )

// define colors
primary-color = #2196F3
secondary-color = #9C27B0
tertiary-color = #EEE
alert-color = #f44336
warning-color = #FFC107
success-color = #4CAF50
default-color = #FFF
