// main colors
primary-color = slategray
secondary-color = #EEE
tertiary-color = #FFF

// phone colors
@media screen and (min-width: sm_width)
  bg-color = #333

// tablet colors
bg-color = #999

// desktop colors
bg-color = #6FF

// large desktop colors
bg-color = #F00
