// Slate configuration

// css reset file
reset = '../node_modules/normalize.css/normalize.css'

// set max amount of columns
max-columns = 12

// font settings
font-base = inherit
line-height = 1em

// set options
mobile-first = true
grid = standard

// set display properties
box-sizing = border-box

// link colors
link-color = #000
link-hover = link-color
link-active = link-color
link-focus = link-color

// set max margin and padding levels
max-margin = 25
max-padding = 20

// margin and padding steps
margin-step = 5px
pad-step = 5px