// Slate configuration

// css reset file
reset = '../node_modules/normalize.css/normalize.css'

// import the reset file
@import reset

// columns
max_columns = 12

// gutter
gutter = 10px

// screen sizes
screen-sizes = ( xs sm md lg xl )

// options
mobile-first = true

// box sizing
box-sizing = border-box

// nav settings
nav-image-height = 42px