// create the list of device screen sizes
screen-sizes = ( xs sm md lg xl )

// define screen size min and max widths
xs-min-width = 0px
xs-max-width = 543px
sm-min-width = 544px
sm-max-width = 767px
md-min-width = 768px
md-max-width = 991px
lg-min-width = 992px
lg-max-width = 1199px
xl-min-width = 1200px
xl-max-width = 9999px
