// create the list of screen sizes
screen-sizes = ( xs sm md lg xl )

// define screen widths
xs-width = 0px
sm-width = 544px
md-width = 768px
lg-width = 992px
xl-width = 1140px

// create list of gutters
gutters = ( default xs sm md lg xl )

// define gutter sizes
default-gutter = 20px
xs-gutter = 5px //10
sm-gutter = 10px //10
md-gutter = 15px //15
lg-gutter = 25px //20
xl-gutter = 35px //20