/*

for each in screen sizes
  create media query
    for each divided size 1 to the set max
      set width of element inside .divided-x to below:
        width = 100/x %
*/

// setup screen sizes for each divided size
for screen-size in screen-sizes
    
  // media query settings
  min-width-size = screen-size+'-min-width'
  max-width-size = screen-size+'-max-width'
  min-width = 'min-width: '+min-width-size
  max-width = 'max-width: '+max-width-size

  gutter = default-gutter

  // setup screen sizes for each column size
  @media screen and ({min-width})
    
    gutter = screen-size+'-gutter'

    for divided in (1..divided-max)
      .{screen-size}-divided-{divided}
        
        &:not(.masonry)
          
          // if no alignment is set,set default to top
          &:not([class*='align'])
            & > *
              vertical-align: top
          
          alignments = ( top middle bottom )
          for alignment in alignments
            &.align-{alignment}
              & > *
                vertical-align: alignment
            
          text-align: center
          & > *
            display: inline-block
            padding: gutter
            width: 'calc(%s / %s)' % (100% divided)

        &.masonry
          &:before
            display: none !important
          column-count: divided
          column-gap: gutter
          
          & > *
            margin-top: gutter
            width: 100%