// grid setting: Standard
if grid == standard

  // for each screen size in the screen-sizes array
  for screen-size in screen-sizes
    
    // media query settings
    min-width-size = screen-size+'-min-width'
    min-width = 'min-width: '+min-width-size
    
    gutter = default-gutter

    // setup mobile first screen sizes for each column size
    @media screen and ({min-width})

      // for each column in screen size
      for i in (1..max-columns)
        .{screen-size}-{i}
          
          // set style defaults
          box-sizing: box-sizing
            
          &:not(.equal-height)
            
            &:not([class*={screen-size}-inline]):not([class*={screen-size}-block])&:not(.equal-height)
              display: inline-block
            float: left

            // set screen size gutter
            gutter = screen-size+'-gutter'

            &:not([class*=pad]):not(input)
              padding: gutter

            percentage = (100%/max-columns)*i
            width: percentage
                  
      .equal-height
        display: flex
        flex-wrap: wrap
        for i in (1..max-columns)
          & > .{screen-size}-{i}
            display: flex
            percentage = (100%/max-columns)*i
            flex: 1 1 percentage
            overflow: auto