// grid setting: Standard
if grid == standard
  
  // set default styles for elements
  nav 
    float: left
  
  // get min or max-width from config. Mobile first will set a min-width rather than a max-width.
  width = mobile-first? 'min-width' : 'max-width'
  
  // set the default gutter
  gutter = default-gutter

  // for each screen size in the screen-sizes array
  for screen-size in screen-sizes
    
    // setup screen sizes for each column size
    @media screen and ({width}: screen-size+'-width')
  
      // set gutters for all required containers. Due to being standard grid, set the column to float
      [class*={screen-size}-]
        float: left
        min-height: 5px
        &:not(nav) *:not([class*='btn']):not(.no-pad):not(.brand):not(.brand > *):not(a)
          padding: gutter*0.5

      // for each column in screen size
      for i in (1..max-columns)
        .{screen-size}-{i}
          
          // set style defaults
          box-sizing: box-sizing
          
          // set margin for each column, as long as it's not set to a no-margin element
          &:not([class*=\'-left\']):not([class*=\'-right\']):not([class*='margin'])
            margin: gutter gutter 0 gutter
            
          // calculate width of columns with no x axis margin removal set
          &:not(.no-margin):not(.no-x-margin)
            percentage = (100%/max-columns)*i
            width: 'calc(%s - %s)' % (percentage gutter*2)
            
          // edit width to compensate lack of margin in no-margin elements
          &.no-margin,&.no-x-margin
            percentage = (100%/max-columns)*i
            width: percentage
          
          // set correct width for 'margin-X-0' elements
          for x in (1..max-margin)
            &.{screen-size}-margin-{x}-0:not(.no-margin):not(.no-x-margin)
              percentage = (100%/max-columns)*i
              width: percentage
            
      // push columns
      for i in (1..max-columns)
        .{screen-size}-push-{i}
            
          // set margin left for a defined amount of columns
          push-percentage = (100%/max-columns)*i
            
          &:not(.no-margin),&:not(.no-x-margin)&:not(.no-y-margin)
            margin-left: push-percentage
          &.no-margin
            margin-left: push-percentage
          &.no-x-margin
            margin-left: push-percentage
          &.no-y-margin
            margin-left: push-percentage
            