// grid setting: Standard
if grid == standard
  
  // set default styles for elements
  div
    transition: width 0.3s ease

  // for each screen size in the screen-sizes array
  for screen-size in screen-sizes
    
    // media query settings
    min-width-size = screen-size+'-min-width'
    max-width-size = screen-size+'-max-width'
    min-width = 'min-width: '+min-width-size
    max-width = 'max-width: '+max-width-size
    
    gutter = default-gutter

    // setup mobile first screen sizes for each column size
    @media screen and ({min-width})

      // for each column in screen size
      for i in (1..max-columns)
        .{screen-size}-{i}
          display: inline-block
          float: left
          
          // set style defaults
          box-sizing: box-sizing
          
          // set screen size gutter
          gutter = screen-size+'-gutter'
          
          &:not([class*=pad]):not(.no-pad)
            padding: gutter

          // set margin for each column, as long as it's not set to a no-margin element
          &:not([class*=margin])
            margin: 0

          percentage = (100%/max-columns)*i
          width: percentage
                  