// default html styles
body
  box-sizing: box-sizing
  
  &, &:before, &:after
    box-sizing: inherit
    color: rgba(0,0,0,0.75)
    font-family: 'Roboto', 'Helvetica Neaue', 'Helvetica', 'Calibri', 'Arial', sans-serif
    font-size: font-base
    line-height: line-height
    