// default html styles
body  
  &, &:before, &:after
    box-sizing: box-sizing
    color: rgba(0,0,0,0.75)
    font-family: font-stack
    font-size: font-base
    line-height: line-height
    
  *, *:before, *:after
    box-sizing: box-sizing
    