// default html styles
body  
  &, &:before, &:after
    box-sizing: box-sizing
    color: rgba(0,0,0,0.75)
    &:not([class*='font-family-'])
      font-family: 'Roboto', 'Helvetica Neaue', 'Helvetica', 'Calibri', 'Arial', sans-serif
    font-size: font-base
    line-height: line-height
    
  *, *:before, *:after
    box-sizing: box-sizing
    