// margin setting accross screen sizes
for screen-size in screen-sizes

  // media query settings
  min-width-size = screen-size+'-min-width'
  max-width-size = screen-size+'-max-width'
  min-width = 'min-width: '+min-width-size
  max-width = 'max-width: '+max-width-size

  // setup screen sizes for each column size
  @media screen and ({min-width})
    
    gutter = screen-size+'-gutter'
    
    for x in (0..max-margin)
      
      .{screen-size}-margin-{x}
          margin-bottom: x*margin-step
          margin-left: x*margin-step
          margin-right: x*margin-step
          margin-top: x*margin-step
          
      .{screen-size}-margin-x-{x}
          margin-left: x*margin-step
          margin-right: x*margin-step
          
      for y in (1..max-margin)
        .{screen-size}-margin-{x}
          margin: x*margin-step

        .{screen-size}-margin-{x}-{y}
          margin: x*margin-step y*margin-step
          
    // top bottom left and right margin specifics
    sides = ( top right bottom left )
    for side in sides
      .{screen-size}-margin-{side}-{x}
        margin-{side}: x*margin-step

    for y in (0..max-margin)
        .{screen-size}-margin-y-{y}
          margin-bottom: y*margin-step
          margin-top: y*margin-step
          
    // no margin elements
    .{screen-size}-no-x-margin:not(.{screen-size}-no-margin)
      margin-top: gutter 0 0 0
    .{screen-size}-no-y-margin:not(.{screen-size}-no-margin):not([class*='-push-'])
      margin: 0 gutter
    .{screen-size}-no-margin:not(.{screen-size}-no-x-margin):not(.{screen-size}-no-y-margin):not([class*='-push-'])
      margin: 0