 // grid setting: Standard
if grid == standard

  // for each screen size in the screen-sizes array
  for screen-size in screen-sizes
    
    // media query settings
    min-width-size = screen-size+'-min-width'
    max-width-size = screen-size+'-max-width'
    min-width = 'min-width: '+min-width-size
    max-width = 'max-width: '+max-width-size
    
    gutter = default-gutter
    
    // setup strict screen sizes for each column size
    // create x margin class
    @media screen and ({min-width}) and ({max-width})

      // for each column in screen size
      for i in (1..max-columns)
        .{screen-size}-{i}

          for x in (0..max-margin)
            x-margin = x*margin-step

            &.{screen-size}-margin-{x}, &.{screen-size}-margin-x-{x}

              // set margin for each column, as long as it's not set to a no-margin element
              &:not([class*=-left]):not([class*=-right])
                margin-left: x-margin
                margin-right: x-margin
                percentage = (100%/max-columns)*i
                width: 'calc(%s - %s)' % (percentage x-margin*2)

    // setup strict screen sizes for each column size
    // create y margin classes
    @media screen and ({min-width}) and ({max-width})

      // for each column in screen size
      for i in (1..max-columns)
        .{screen-size}-{i}

          for y in (0..max-margin)
            y-margin = y*margin-step

            &.{screen-size}-margin-{y}
              // set margin for each column, as long as it's not set to a no-margin element
              &:not([class*=-left]):not([class*=-right])
                margin-bottom: y-margin
                margin-top: y-margin
        
    // setup strict screen sizes for each column size
    // create y margin classes
    @media screen and ({min-width})

      for y in (0..max-margin)
        y-margin = y*margin-step

        .{screen-size}-margin-y-{y}
          // set margin for each column, as long as it's not set to a no-margin element
          &:not([class*=-left]):not([class*=-right])
            margin-bottom: y-margin
            margin-top: y-margin
            
        for side in sides
          .{screen-size}-margin-{side}-{y}
            margin-{side}: y-margin
            