// define nav styles
nav
  bg = #FFF
  background-color: bg
  line-height: line-height
  padding: 0
  
  .brand
    display: inline
    &.has-icon > *
      vertical-align: middle

  // default nav styles
  a
    &:not([class*='text-'])
      color: rgba(0,0,0,0.65)
    float: left
    text-decoration: none
    transition: background-color 0.3s ease, color 0.3s ease

    &:hover:not(.brand), &.active:not(.brand)
      background-color: darken(#FFF, 3%)
      color: rgba(0,0,0,0.85)
        
  // define standard nav style
  &.sm,&:not(.md):not(.lg)
    img
      max-height: gutter*1.5
    .brand
      font-size: 1.25em
      &:not(.has-icon)
        line-height: gutter*1.5
      padding: gutter*0.05 gutter*0.25
      
      & > :not(img)
        &:not(.no-y-margin):not(.no-margin)
          margin: 0 gutter*0.15

    a
      &:not(.no-pad):not(.brand)
        padding: gutter*0.4 gutter*0.5
      
  // define medium nav styles
  &.md
    img
      max-height: gutter*1.9
    .brand
      font-size: 1.5em
      &:not(.has-icon)
        line-height: gutter*1.9
      padding: gutter*0.2 gutter*0.25
      
      & > :not(img)
        &:not(.no-y-margin):not(.no-margin)
          margin: 0 gutter*0.15

    a
      &:not(.no-pad):not(.brand)
        padding: gutter*0.75 gutter*0.75        
        
  // define large nav styles
  &.lg
    img
      max-height: gutter*2.6
    .brand
      font-size: 2em
      &:not(.has-icon)
        line-height: gutter*2.5
      padding: gutter*0.35
      
      & > :not(img)
        &:not(.no-y-margin):not(.no-margin)
          margin: 0 gutter*0.35

    a
      &:not(.no-pad):not(.brand)
        padding: gutter*1.25 gutter
        
        
    /* define large nav styles
  &.lg
    .brand
      font-size: 2em
      padding: gutter*0.35
      
      & > img
        max-height: gutter*2.6
      & > :not(img)
        line-height: gutter*2.5
        &:not(.no-y-margin):not(.no-margin)
          margin: 0 gutter*0.25
        &:not(.no-pad)
          padding: 0 gutter*0.25

    a
      &:not(.no-pad):not(.brand)
        padding: gutter*1.25 gutter*/
        