// define nav styles
nav
  bg = #FFF
  background-color: bg
  line-height: line-height
  padding: 0
  
  .brand
    display: inline
    &.has-icon > *
      vertical-align: middle

  // default nav styles
  a 
    &:not([class*='text-'])
      color: rgba(link-color, 0.54)
    float: left
    text-decoration: none
    
  :not(.brand) a
    transition: background-color 0.3s ease, color 0.3s ease
    &:hover:not(.brand),&.active:not(.brand)
      background-color: darken(#FFF, 3%)
    &:active:not(.brand)
      background-color: lighten(#FFF, 3%) 
  // define standard nav style
  &.sm,&:not(.md):not(.lg)
    img
      max-height: gutter*1.5
    .brand
      font-size: 1.25em
      &:not(.has-icon)
        line-height: gutter*1.5
      &:not([class*='-pad-'])
        padding: gutter*0.05 gutter*0.25
      
      & > :not(img)
        &:not(.no-y-margin):not(.no-margin)
          margin: 0 gutter*0.15

    a
      &:not(.brand)
        font-size: 0.85em
      &:not(.no-pad):not(.brand)&:not([class*='-pad-'])
        padding: gutter*0.4 gutter*0.5
      
  // define medium nav styles
  &.md
    img
      max-height: gutter*1.9
    .brand
      font-size: 1.5em
      &:not(.has-icon)
        line-height: gutter*1.9
      &:not([class*='-pad-'])
        padding: gutter*0.2 gutter*0.25
      
      & > :not(img)
        &:not(.no-y-margin):not(.no-margin):not([class*='-margin-'])
          margin: 0 gutter*0.15

    a
      &:not(.no-pad):not(.brand):not([class*='-pad-'])
        padding: gutter*0.75 gutter*0.75        
        
  // define large nav styles
  &.lg
    img
      max-height: gutter*2.6
    .brand
      font-size: 2em
      &:not(.has-icon)
        line-height: gutter*2.5
      &:not([class*='-pad-'])
        padding: gutter*0.35
      
      & > :not(img)
        &:not(.no-y-margin):not(.no-margin):not([class*='-margin-'])
          margin: 0 gutter*0.35

    a
      &:not(.no-pad):not(.brand):not([class*='-pad-'])
        padding: gutter*1.25 gutter
        