nav
  background-color: #FFF
  line-height: line-height
  padding: 0
  
  &.full-width
    .brand
      font-size: 1.5em
      padding: gutter*0.5
      &> *:not([class$='-left']):not([class$='-right'])
        float: left
      & > img
        max-height: gutter*2.25
      & > :not(img)
        margin: gutter*0.75 0
        padding: 0 15px
    
    & > *
      margin: 0

    a
      color: rgba(0,0,0,0.65)
      float: left
      text-decoration: none
      transition: background-color 0.3s ease, color 0.3s ease

      &:hover:not(.brand), &.active:not(.brand)
        background-color: darken(#FFF, 3%)
        color: rgba(0,0,0,0.85)
        
      &:not(.no-pad):not(.brand)
        padding: gutter*1.25 gutter

* + nav.full-width
  margin-top: gutter