// padding setting accross screen sizes
for screen-size in screen-sizes

  // media query settings
  min-width-size = screen-size+'-min-width'
  max-width-size = screen-size+'-max-width'
  min-width = 'min-width: '+min-width-size
  max-width = 'max-width: '+max-width-size

  // setup screen sizes for each column size
  @media screen and ({min-width})
    
    for x in (0..25)
      .{screen-size}-pad-x-{x}
        padding-left: x*pad-step
        padding-right: x*pad-step
        
      for y in (0..25)        
        .{screen-size}-pad-{x}
          padding: x*pad-step

        .{screen-size}-pad-{x}-{y}
          padding: x*pad-step y*pad-step
          
      // top bottom left and right padding specifics
      sides = ( top right bottom left )
      for side in sides
        .{screen-size}-pad-{side}-{x}
          padding-{side}: x*pad-step
        
    for y in (0..25)
      .{screen-size}-pad-y-{y}
        padding-bottom: y*pad-step
        padding-top: y*pad-step
          
// no padding elements
.no-x-padding:not(.no-padding)
  padding-top: gutter 0 0 0
.no-y-padding:not(.no-padding):not([class*='-push-'])
  padding: 0 gutter
.no-padding:not(.no-x-padding):not(.no-y-padding):not([class*='-push-'])
  padding: 0