// padding setting accross screen sizes
for screen-size in screen-sizes
  
  // get min or max-width from config. Mobile first will set a min-width rather than a max-width.
  width = mobile-first? 'min-width' : 'max-width'

  // setup screen sizes for each column size
  @media screen and ({width}: screen-size+'-width')
    
    for x in (0..25)
      for y in (0..25)
        .{screen-size}-pad-{x}
          padding: x*pad-step

        .{screen-size}-pad-{x}-{y}
          padding: x*pad-step y*pad-step
          
      // top bottom left and right padding specifics
      sides = ( top right bottom left )
      for side in sides
        .{screen-size}-pad-{side}-{x}
          padding-{side}: x*pad-step
          
// no padding elements
.no-x-padding:not(.no-padding)
  padding-top: gutter 0 0 0
.no-y-padding:not(.no-padding):not([class*='-push-'])
  padding: 0 gutter
.no-padding:not(.no-x-padding):not(.no-y-padding):not([class*='-push-'])
  padding: 0