@import 'config'
@import 'devices'
@import 'columns'
@import 'colors'
@import 'forms'
@import 'buttons'

html
  font-family: 'Helvetica Neaue', 'Helvetica', 'Calibri', 'Arial', sans-serif

body
  background-color: secondary-color
  padding: 20px
  