// font-sizes
for size in (1..max-font-level)
  .font-size-{size}
    font-size: size*0.25rem
    letter-spacing: size*0.01rem
    line-height: size*0.3rem
        
// font weights
.font-weight-normal
  font-weight: normal
.font-weight-bold
  font-weight: bold

// text colors
for color-name in colors
  .text-{color-name}
    color: color-name+'-color'

// text elements that aren't part of a custom element
div:not(.nav):not(.sidebar):not(.docs)
  p,li
    &:not([class*='font-size-'])
      font-size: 0.8rem
      letter-spacing: 0.01em
    line-height: 1.3rem
    vertical-align: middle
    
// heading text default styles
for i in (1..6)
  &:not([class*='font-size'])
    h{i}
      &:not([class*='font-size'])
        font-size: initial
  h{i}
    font-weight: normal
    margin: 0
    
// paragraph styles
p:not([class*='-margin-'])
  margin: 10px 0 0 0
    
// note styles
[class*='note']
  &:not([class*='note-'])
    border-left-color: primary-color
  border-left-style: solid
  border-left-width: 5px
  margin: 0
  padding: 0 0 0 25px
  
for color in colors
  .note-{color}
    border-left-color: color+'-color'

// code text
code
  color: rgba(slateblue, 0.85)
  float: left
  &:not([class*='-pad-'])
    padding: 15px
  
  pre
    &:not([class*='-margin-'])
      margin: 0
    white-space: pre-wrap
    word-wrap: break-word

// for each screen size, set following styles
for screen-size in screen-sizes

  // media query settings
  min-width-size = screen-size+'-min-width'
  max-width-size = screen-size+'-max-width'
  min-width = 'min-width: '+min-width-size
  max-width = 'max-width: '+max-width-size

  // setup screen sizes for each column size
  @media screen and ({min-width})
    
    // text alignment
    .{screen-size}-text-left
      text-align: left
    .{screen-size}-text-right
      text-align: right
    .{screen-size}-text-center
      text-align: center
      