// element visibility
.hide
  opacity: 0
.faded
  opacity: 0.5
.show
  opacity: 1
  
// break element to clear from both sides
[class*='break']
  display: block
.break, .break-left
  clear: left
.break-right
  clear: right

// element effects
.box-glow
  box-shadow: 0px 2px 10px rgba(255,255,255,0.85), 0px -3px 15px rgba(255,255,255,0.85), 0px 5px 15px rgba(255,255,255,0.85), 0px -5px 15px rgba(255,255,255,0.85)
.box-shadow
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1), 0px -3px 15px rgba(0,0,0,0.1), 0px 5px 15px rgba(0,0,0,0.1), 0px -5px 15px rgba(0,0,0,0.1)
.text-glow
  text-shadow: 0px 2px 5px rgba(255,255,255,0.85),-2px 0px 5px rgba(255,255,255,0.85),0px -2px 5px rgba(255,255,255,0.85),2px 0px 5px rgba(255,255,255,0.85)
.text-shadow
  text-shadow: 0px 2px 5px rgba(0,0,0,0.85),-2px 0px 5px rgba(0,0,0,0.85),0px -2px 5px rgba(0,0,0,0.85),2px 0px 5px rgba(0,0,0,0.85)

// border radius
for i in (0..15)
  .radius-{i}
    border-radius: i*1px

for screen-size in screen-sizes

  // media query settings
  min-width-size = screen-size+'-min-width'
  min-width = 'min-width: '+min-width-size

  // setup screen sizes for each column size
  @media screen and ({min-width})
        
    // pull classes (left, center and right)
    .{screen-size}-left
      float: left
    .{screen-size}-right
      float: right
    .{screen-size}-center
      float: none
      margin: 0 auto
        
    // hide on different screen sizes
    .{screen-size}-hide, .{screen-size}-0
      display: none
      
    // show on different screen sizes
    .{screen-size}-show
      display: block
      

// text alignment defaults
*:not(.sidebar)
  [class*='-text-']
    & > *
      &:not(.block):not(.inline)
        display: inline-block
      float: none
      &:not([class*='pad']):not([class*=btn])
        padding: 0
      vertical-align: top
      
// element formation: inline or block
.inline
  display: inline
.inline-block
  display: inline-block
.block
  display: block

// set default gutter
gutter = default-gutter

// item-pad and link-pad parent classes  
for screen-size in screen-sizes
  
  // media query settings
  min-width-size = screen-size+'-min-width'
  min-width = 'min-width: '+min-width-size
  
  gutter = screen-size+'-gutter'

  // setup screen sizes for each column size
  @media screen and ({min-width})   

    // pushing elements
    for i in (1..max-columns)
      .{screen-size}-push-{i}

        // set margin left for a defined amount of columns
        push-percentage = (100%/max-columns)*i
        margin-left: 'calc(%s + %s)' % (push-percentage gutter)

    .{screen-size}-auto
      width: auto